@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-repeat: repeat-x;
	background-position: top;
	font-family: Arial, "新細明體";
}
img{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
hr {
	background-color:#d4d4d4;
	margin-top: 15px;
	margin-bottom: 15px;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-bottom-style: dotted;
	border-bottom-color: #434343;
	height: 1px;
}
#apDiv1 {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:128px;
	z-index:2;
	clear: both;
	visibility: visible;
}
#apDiv2 {
	position:absolute;
	width:35px;
	height:20px;
	z-index:3;
	visibility: hidden;
	overflow: visible;
	display: block;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #990000;
	background-image: url(../image/meg.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 2px;
}
#apDiv3 {
	position:absolute;
	width:35px;
	height:20px;
	z-index:3;
	visibility: hidden;
	overflow: visible;
	display: block;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #990000;
	background-image: url(../image/meg.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 2px;
}
#apDiv4 {
	position:absolute;
	width:35px;
	height:20px;
	z-index:3;
	visibility: hidden;
	overflow: visible;
	display: block;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #990000;
	background-image: url(../image/meg.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 2px;
}
#apDiv5 {
	position:absolute;
	width:35px;
	height:20px;
	z-index:3;
	visibility: hidden;
	overflow: visible;
	display: block;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #990000;
	background-image: url(../image/meg.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 2px;
}
#apDiv6 {
	position:absolute;
	width:35px;
	height:20px;
	z-index:3;
	visibility: hidden;
	overflow: visible;
	display: block;
	margin-top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #990000;
	background-image: url(../image/meg.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 2px;
}
#header{
	background-image: url(../image/logo.gif);
	background-repeat: no-repeat;
	background-position: left;
	height: 17px;
	font-size: 12px;
	color: #000000;
	text-align: right;
	padding-top: 62px;
	padding-right: 226px;
}
#msg{
	text-align: right;
	height: 49px;
	margin-right: 2%;
}
#msg img{
	border: none;
}
#content {
	width: 96%;
	padding-top: 128px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
  }
#content img{
	border: none;
}
#modal {
	display: none;
}
#modal a {
	border: none;
	text-decoration: none;
}
#modal a:hover {
	text-decoration: none;
} 
#submenu ul{
	margin: 0px;
	padding: 0px;
}
#submenu li{
	background-image: url(../image/left-menu.png);
	height: 30px;
	list-style-type: none;
	background-position: left top;
	width: 197px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
	margin-left: -15px\9;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-size: 18px;
}
#submenu li a {
	font-weight: bold;
	border: none;
	text-decoration: none;
	color: #9d1936;
}
#submenu li a:hover {
	text-decoration: none;
	color: #000000;
} 
.clear {
	clear:both;
	height:0;
	font-size: 0px;
	line-height: 0px;
}

ul.menu1, ul ul {
	margin:0px;
	border:0;
	list-style-type:none;
	overflow:hidden;
	width:207px;
	text-align:left;
	color:#fff;
	font-size: 15px;
	font-weight: normal;
	padding: 0px;
}
ul.menu1 {
	font-weight: normal;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

ul.menu1 table {
	border-collapse:collapse;
	padding:0;
	margin:0;
}
ul.menu1 ul {
	margin: 0px;
	padding: 0px;
}
ul.menu1 li {
	margin-left: 18px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 5px;
}
ul.menu1 li.drop {
	margin-bottom:7px;
	font-size: 15px;
	background-image: url(../image/left-menu02.png);
	background-repeat: no-repeat;
	background-position: left top;
	color: #FFFFFF;
	font-weight: bold;

	padding-left: 8px;
}
ul.menu1 li.drop a{
	color: #FFFFFF;
	text-decoration: none;

}
ul.menu1 li.drop a:hover{
	color: #CF0;
	text-decoration: none;
}
ul.menu1 li a, 
ul.menu1 li a:visited {
	display:block;
	width:14em;
	line-height:1.9em;
	text-decoration:none;

}
ul.menu1 li a.last, 
ul.menu1 li a.last:visited {
	display:block;

}
ul.menu1 li ul {
	display:none;
	font-size: 15px;

	}

ul.menu1 li:hover a, 
ul.menu1 li a:hover {
	border:0;
	color:#CF0;
}

ul.menu1 li:hover ul, 
ul.menu1 li a:hover ul {
	display:block;
	margin-top:-1px;
	margin-left: -15px;
	padding-left: 0px;
	color: #CF0;
}
ul.menu1 li:hover ul li a, 
ul.menu1 li a:hover ul li a {
	color:#000;
	font-weight:normal;
	margin-left: 0px;
	padding-left: 0px;
	line-height: 23px;
}
ul.menu1 li:hover ul li:hover a, 
ul.menu1 li a:hover ul li a:hover {
	font-weight:normal;
	color:#CF0;
}
#bodyleft{
	float: left;
	width: 4%;
	margin-top: 100px;
}
#bodycontent{
	width: 90%;
	padding-top: 33px;
	font-family: Arial, "新細明體";
	font-size: 15px;
	line-height: 23px;
	color: #191919;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 50px;
}
#bodycontent a{
	color: #b6003c;
	text-decoration: none;
}
#bodycontent a:hover{
	color: #000000;
	text-decoration: underline;
}
#bodycontent h1{
	font-family: Arial, "新細明體";
	font-size: 26px;
	color: #333333;
	background-image: url(../image/h1.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 33px;
	margin-bottom: 20px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 25px;
	font-weight: bold;
	line-height: 30px;
}
#bodycontent td{
	padding: 3px;
	background-color: #f3f5f7;
	border: 1px solid #FFFFFF;
}
#bodycontent th{
	padding: 3px;
	background-color: #ffdcfd;
	text-align: left;
	font-weight: normal;
	border: 1px solid #FFFFFF;
}
#root{
	font-family: Arial, "新細明體";
	font-size: 12px;
	color: #000000;
	text-align: left;
	height: 50px;
	padding-right: 35px;
}
#root a{
	color: #17a5ff;
	text-decoration: none;
}
#root a:hover{
	color: #000000;
	text-decoration: none;
}
#application{
	width: 677px;
	margin-right: auto;
	margin-left: auto;
}
.black{
	color: #000000;
}



#templatmeo_header {
	width: 800px;
	height: 40px;
	padding: 40px 0 40px 6px;
}

#site_title { float: left; }
#site_title h1 { margin: 0; padding: 0 }
#site_title h1 a { display: block; width: 160px; height: 60px; background:url(../image/templatemo_logo.png)  no-repeat top left; color: #000; font-size: 40px; font-weight: 400; outline: none; text-indent: -10000px; }

#templatemo_menu { float: right; margin-top: 20px; }
#templatemo_menu ul { padding: 0; margin: 0; list-style: none; }
#templatemo_menu ul li { margin: 0; padding: 0; display: inline-block }
#templatemo_menu ul li a {
	float: left;
	display: block;
	font-size: 18px;
	color: #333;	
	margin-left: 40px;
	text-decoration: none;
	font-weight: 400;
	outline: none;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
	color: #000;
	text-decoration: underline;
}

#templatemo_main {
	clear: both;
	width: 80%;
	margin: 0 20% 0 10px;
}

#templatemo_main .content_top { clear: both; height: 10px }
#templatemo_main .content_box { position: relative; width: 100%; margin-bottom: 10px; padding: 30px 150px 10px 76px; background:#FFD9EC }

#templatemo_main .content_title { position: absolute; width: 106px; height: 104px; top: -5px; left: -6px; }

#templatemo_main .content_home { background: url(../image/templatemo_content_home.gif) no-repeat }
#templatemo_main .content_aboutus { background: url(../image/templatemo_content_aboutus.gif) no-repeat }
#templatemo_main .content_services { background: url(../image/templatemo_content_services.gif) no-repeat }

#templatemo_main a.gototop { display: block; position: absolute; width: 140px; height: 25px; padding: 65px 10px 0 0; text-align: right; font-size: 14px; bottom: 0; right: 0; color: #000; background: url(../image/templatemo_gototop.gif) no-repeat; text-decoration: none; }
#templatemo_main a.gototop:hover { text-decoration: underline }
 
#templatemo_main .col_w310 { width: 310px }

#templatemo_main .post_box { width: 310px; margin-bottom: 30px; padding-bottom: 20px;  }
#templatemo_main .post_header { border-top: 3px solid #999; border-bottom: 1px solid #ccc; padding: 5px; margin-bottom: 20px }
#templatemo_main .post_box h3 { font-size: 24px; line-height: 34px; margin-bottom: 15px }
#templatemo_main .post_box p.post_meta { font-size: 10px; margin-bottom: 0; padding-bottom: 0 }

#templatemo_footer {
	clear: both;
	width: 800px;
	padding: 0 0 20px 6px;
	text-align: center;
	background: url(../image/templatemo_footer.jpg) center top no-repeat
}

#templatemo_footer a { color: #000 }

#templatemo_main .tmo_list { margin: 20px 0 20px 10px; padding: 0; list-style: none }
#templatemo_main .tmo_list li { color:#bfb839; margin: 0; padding: 0 0 5px 15px; background: url(../image/templatemo_list.jpg) no-repeat scroll 0 4px  }
#templatemo_main .tmo_list li a { color: #bfb839; font-weight: normal; font-size: 12px; text-decoration: none }
#templatemo_main .tmo_list li a:hover { color: #bfb839; text-decoration: underline }
