@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-color: #cc3b67;
}
#left-menu{
	width: 231px;
	padding-top: 55px;
}
ul.menu1, ul ul {
	margin:0px;
	border:0;
	list-style-type:none;
	overflow:hidden;
	width:231px;
	text-align:left;
	color:#fff;
	font-size: 15px;
	font-weight: normal;
	padding: 0px;
}
ul.menu1 {
	font-weight: normal;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

ul.menu1 table {
	border-collapse:collapse;
	padding:0;
	margin:0;
}
ul.menu1 ul {
	margin: 0px;
	padding: 0px;
}
ul.menu1 li {
	margin-left: 18px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 5px;
}
ul.menu1 li.drop {
	margin-bottom:7px;
	font-size: 15px;
	background-image: url(../image/left-menu02.png);
	background-repeat: no-repeat;
	background-position: left top;
	color: #FFFFFF;
	font-weight: bold;

	padding-left: 8px;
}
ul.menu1 li.drop a{
	color: #FFFFFF;
	text-decoration: none;

}
ul.menu1 li.drop a:hover{
	color: #CF0;
	text-decoration: none;
}
ul.menu1 li a, 
ul.menu1 li a:visited {
	display:block;
	width:14em;
	line-height:1.9em;
	text-decoration:none;

}
ul.menu1 li a.last, 
ul.menu1 li a.last:visited {
	display:block;

}
ul.menu1 li ul {
	display:none;
	font-size: 13px;

	}

ul.menu1 li:hover a, 
ul.menu1 li a:hover {
	border:0;
	color:#CF0;
}

ul.menu1 li:hover ul, 
ul.menu1 li a:hover ul {
	display:block;
	margin-top:-1px;
	margin-left: -15px;
	padding-left: 0px;
	color: #CF0;
}
ul.menu1 li:hover ul li a, 
ul.menu1 li a:hover ul li a {
	color:#000;
	font-weight:normal;
	margin-left: 0px;
	padding-left: 0px;
	line-height: 23px;
}
ul.menu1 li:hover ul li:hover a, 
ul.menu1 li a:hover ul li a:hover {
	font-weight:normal;
	color:#CF0;
}
.home{
	color: #CF0;
}
