/************ Button ************/
.button {
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background: #850d39 url('../image/bg-button-green.gif') top left repeat-x !important;
	border: 1px solid #850d39 !important;
	padding: 4px 7px 4px 7px !important;
	color: #fff !important;
	font-size: 15px !important;
	cursor: pointer;
                }
                
.button:hover {
                text-decoration: underline;
                }
                
.button:active {
                padding: 5px 7px 3px 7px !important;
                }
				
a.remove-link {
				color: #bb0000;
				}

a.remove-link:hover {
				color: #000;
				}


/************ Lists ************/

#bodycontent ul,
#bodycontent ol {
                padding: 10px 0;
                }

/* Unordered List */

#bodycontent ul li {
                background: url('../image/icons/bullet_black.png') center left no-repeat;
                padding: 4px 0 4px 20px;
                }

/* Ordered List */

#bodycontent ol {
                padding: 0 0 0 24px;
                }

#bodycontent ol li {
                list-style: decimal;
                padding: 4px 0;
                }
                
/************ Table ************/

#bodycontent table {
                width: 100%;
                border-collapse: collapse;
                }
                
#bodycontent table thead th {
                font-weight: bold;
                font-size: 15px;
                border-bottom: 1px solid #ddd;
                }
                
#bodycontent tbody {
                border-bottom: 1px solid #ddd;
                }
                
#bodycontent tbody tr {
                background: #fff;
                }
#bodycontent tbody tr:hover td{
	background-color: #f5d9e1;
}
              
#bodycontent tbody tr.alt-row {
                background: #f3f3f3;
                }
                
#bodycontent table td,
#bodycontent table th {
                padding: 7px;

                }        
				
#bodycontent table tfoot td .bulk-actions {
                padding: 15px 0 5px 0;
                } 
				
#bodycontent table tfoot td .bulk-actions select {
                padding: 4px;
				border: 1px solid #ccc;
                }      
				
/*************** Pagination ***************/

#bodycontent .pagination {
	text-align: right;
	padding: 20px 0 5px 0;
	font-family: Arial, "新細明體";
	font-size: 11px;
                }
.pagination a {
                margin: 0 5px 0 0;
                padding: 3px 6px;
                }

.pagination a.number {
				border: 1px solid #ddd;
                }

.pagination a.current {
                background: #469400 url('../image/bg-button-green.gif') top left repeat-x !important;
                border-color: #850d39 !important;
                color: #fff !important;
                }
				
.pagination a.current:hover {
				text-decoration: underline;
                }

/************ Shortcut Buttons ************/

.shortcut-button {
                border: 1px solid #ccc;
                background: #f7f7f7 url('../image/shortcut-button-bg.gif') top left no-repeat;
                display: block;
                width: 120px;
                margin: 0 0 20px 0;
                }

.shortcut-button span {
                border: 1px solid #fff;
                display:block;
                padding: 15px 10px 15px 10px;
                text-align: center;
                color: #555;
                font-size: 15px;

                }

.shortcut-button span img {
                margin-bottom: 10px;
                }

.shortcut-button:hover {
                background: #fff;
				
                }
				
.shortcut-button span:hover {
				color: #57a000; 
                }

ul.shortcut-buttons-set li {
                float: left;
                margin: 0 15px 0 0;
				padding: 0 !important;
				background: 0;
                }

/*************** Forms ***************/

form label {
                display: block;
                padding: 0 0 10px;
                font-weight: bold;
                }
             
form fieldset legend {
                font-weight: bold;
                margin-bottom: 10px;
                padding-top: 10px;
                }
                
form p small {
                font-size: 15px;
                color: #777;
                }
				
				
form input.text-input,
form select,
form textarea,
form .wysiwyg {
                padding: 6px;
                font-size: 15px;
                background: #fff url('../image/bg-form-field.gif') top left repeat-x;
                border: 1px solid #d5d5d5;
				color: #333;
                }
            
form .small-input {
                width: 25% !important;
                }
                
form .medium-input {
                width: 50% !important;
                }
                
form .large-input {
                width: 97.5% !important;
				font-size: 15px !important;
				padding: 8px !important;
                }
                
form textarea {
                width: 97.5% !important;
                font-family: Arial, Helvetica, sans-serif;
                }
                
form select {
	padding: 4px;
	background: #fff;
	font-size: 15px;
                }
				
form input[type="checkbox"],
form input[type="radio"] {
				padding: 0;
                background: none;
				border: 0;
                }

/*************** Notifications ***************/

.notification {
                position: relative;
                margin: 0 0 15px 0;
                padding: 0;
                border: 1px solid;
                background-position: 10px 11px !important;
                background-repeat: no-repeat !important;
                font-size: 15px;
                width: 99.8%;
                }
                

.attention {
                background: #fffbcc url('../image/icons/exclamation.png') 10px 11px no-repeat;
                border-color: #e6db55;
                color: #666452;
                }

.information {
                background: #dbe3ff url('../image/icons/information.png');
                border-color: #a2b4ee;
                color: #585b66;
                }

.success {
                background: #d5ffce url('../image/icons/tick_circle.png');
                border-color: #9adf8f;
                color: #556652;
                }

.error {
                background: #ffcece url('../image/icons/cross_circle.png');
                border-color: #df8f8f;
                color: #665252;
                }

.notification div {
                display:block;
                font-style:normal;
                padding: 10px 10px 10px 36px;
                line-height: 1.5em;
                }

.notification .close {
                color:#990000;
                font-size:9px;
                position:absolute;
                right:5px;
                top:5px;
                }

/* Notification for form inputs */

.input-notification {
				background-position: left 2px;
				background-repeat: no-repeat;
				padding: 2px 0 2px 22px;
				background-color: transparent;
				margin: 0 0 0 5px;
				}

/* Notification for login page */

#login-wrapper #login-content .notification {
				border: 0;
				background-color: #141414;
				color: #fff !important;
				}

/*- Menu Tabs F--------------------------- */
#bodycontent #tabsC {
				padding:0px;
				margin:0px;
				width:99%;
				border-left:#E276A7 1px solid;
				border-right:#E276A7 1px solid;
				border-bottom:#E276A7 1px solid;
				
				}

#bodycontent #tabsF {
				width:99%;
				margin:0;
				padding:0px;
				font-size:13px;
				height:47px;
				border-left:#FFF 1px solid;
				border-right:#FFF 1px solid;
				border-bottom:1px solid #E276A7;
		      	}

#bodycontent #tabsF ul {
				margin:0;
				padding:10px 10px 0px 6px;
				list-style:none;
		      	}

#bodycontent #tabsF li {
				display:inline;
				margin:0;
				padding:0;
				}

#bodycontent #tabsF a {
				float:left;
				background:url('../image/tableftF.gif') no-repeat left top;
				margin:0;
				padding:0px 1px 0 4px;
				text-decoration:none;
				position: relative;
     			top:1px;
				border-bottom:1px solid #E276A7;
				}

#bodycontent #tabsF a span {
				float:left;
				display:block;
				background:url('../image/tabrightF.gif') no-repeat right top;
				padding:9px 15px 5px 6px;
				color:#666;
				}

#bodycontent #tabsF span {
				float:left;
				background:url('../image/tableftF.gif') no-repeat left top;
				margin:0;
				padding:4px 0 0 4px;
				text-decoration:none;
				}

#bodycontent #tabsF span span {
				float:left;
				display:block;
				background:url('../image/tabrightF.gif') no-repeat right top;
				padding:9px 15px 5px 6px;
				color:#666;
				}


#bodycontent #tabsF #current a {
              	background-position:0% -42px;
     			border-bottom:1px solid #FFF;
     			position: relative;
     			top:1px;
               	color:#000;
       			}
#bodycontent #tabsF #current a span {
               background-position:100% -42px;
               color:#000;
       			}
#bodycontent #tabsF #current span span {
              	background-position:100% -42px;
     			border-bottom:1px solid #FFF;
                color:#000;
				}
				
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#bodycontent #tabsF a span {float:none;}
/* End IE5-Mac hack */

#bodycontent #tabsF a:hover span {
				}

#bodycontent #tabsF a:hover {
	background-position:0% -42px;
				}

#bodycontent #tabsF a:hover span {
	background-position:100% -42px;
				}